/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    width: 100%;
    height: auto;
}

/* Font-styles */

html{
    font-family: roboto, helvetic, sans-serif;
    font-size: 16px;
    color: rgb(65, 65, 65);
}

h1{
   font-weight: bold;
   font-size: 3.25rem; 
   line-height: 4rem;
}

h2{
    font-size: 2rem;
    line-height: 2.5rem;
}

a{
    color: rgb(0, 110, 255);
    text-decoration: none;
}

.graytext{
    color: rgb(214, 214, 214);
}

/* banner */

.banner{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.logo{
    display: flex;
    align-items: center;
    height: 2rem;
}

.colmar{
    color: rgb(32, 32, 32);
}

.colmar, .academy{
    font-weight: bold;
}

.items{
    padding-left: 1.25rem;
} 

.mobilebanner{
    display: none;
}

@media only screen and (max-width: 640px){
    .banner{
        display: none;
    }

    .mobilebanner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4rem;
    }

    .mobilebanner img{
        height: 75%;
        width: auto;
    }
}

/* start here! section */

.containergray{
    display: flex;
    padding: 2rem 1.5rem;
    background-color: rgb(214, 214, 214);
}

.containergray .image{
    width: 60%;
    height: auto;
    overflow: hidden;
}

.containergray .image img{
    width: 100%;
    height: auto;
}

.containergray .text{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 3rem;
    align-items: center;
    justify-content: space-around;
}

.containergray .text .button{
    background-color: rgb(65, 65, 65);
    color: white;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
}

@media only screen and (max-width: 640px){
    .containergray{
        display: block;
        padding: 0 0 2rem 0;
    }

    .containergray .image{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .containergray .text{
        display: block;
        padding: 2rem 1rem 2rem 1rem;
    }
    
    .text h1{
        padding-bottom: 2rem;
    }

    .text h2{
        padding-bottom: 1.5rem;
    }

    .text .button h2{
        padding-bottom: 0;
    }
}

/* Information and Thesis Section*/

.containerwhite{
    display: flex;
    padding: 2rem 1.5rem;
    background-color: white;
}

.infoleft{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

.infoleft h1{
    margin-top: 2rem;
}

.infoleft p{
    margin-top: 1.5rem;
}

.citation{
    margin-top: 3.5rem;
}

.inforight{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    border: solid 0px rgb(214, 214, 214);
    border-left-width: 1px;
}

.infobox{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: solid 0px rgb(214, 214, 214);
    border-bottom-width: 1px;
}

.guest{
    background-color: rgb(214, 214, 214);
}

.infobox_image_container{
    width: 35%;
    height: auto;
}

.infoboxtext{
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.infoboxtext h2,
.infoboxtext p,
.infoboxtext a{
    padding: .5rem;
}

#mobile_image{
    display: none;
}

@media only screen and (max-width: 640px){
    .containerwhite{
        padding: 0;
    }
    
    h2,
    p,
    a{
        padding: 0;
    }
    
    .infoleft{
        display: none;
    }

    .inforight{
        display: block;
        width: 100%;
        padding: 1rem 1rem 2rem 1rem;
        border: solid 0px rgb(214, 214, 214);
    }

    .infobox{
        display: block;
        padding: 0 0 2rem 0;
        border-bottom-width: 0px;
    }

    .guest{
        background-color: white;
    }

    .infobox_image_container{
        width: 100%;
        height: auto;
    }

    .infoboxtext{
        width: 100%;
        display: block;
        padding: 0 1rem;
    }

    #desktop_image{
        display: none;
    }

    #mobile_image{
        display: block;
    }
}

/* Start Learning Section */

.containerstartlearning{
    padding: 0 4.5rem 2rem 4.5rem;
    background-color: rgb(214, 214, 214);
} 

.containerstartlearning h1{
    display: block;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
}

.containercourses{
    display: flex;
    flex-wrap: wrap;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 2rem;
    justify-content: center;
}

.coursebox{
    margin: 2rem 1rem 2rem 1rem;
    background-color: white;
    width: 30%;
}

.coursebox img{
    height: auto;
}

.coursebox .textbox{
    padding: 1rem 1rem 1.5rem 1rem;
}

.coursebox .textbox p{
    padding-top: .5rem;
}

@media only screen and (max-width: 640px){
    .containerstartlearning{
        padding: 1rem 1rem 2rem 1rem;
        background-color: white;
        border: solid 1px rgb(214, 214, 214);
        border-left-width: 0;
        border-right-width: 0;
    }

    .containerstartlearning h1{
        padding: 2rem 0 1rem 0;
    }

    .containercourses{
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    .coursebox{
        margin: 0;
        background-color: rgb(214, 214, 214);
        width: 100%;
        margin: .5rem 0;
    }

    .coursebox img{
        display: none;
    }

    .coursebox .textbox{
        padding: 0;
    }

    .coursebox .textbox p,
    .coursebox .textbox p{
        display: none;
    }

    .coursebox .textbox h2{
        padding: 1rem 1rem 1.5rem 1rem;
    }
}

/* Thesis Section */

h1.thesis{
    background-color: white;
    padding-top: 2rem;
    text-align: center;
}

.container_white_thesis{
    display: flex;
    padding: 2rem 1.5rem;
    background-color: white;
}

.videoleft{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

.videoleft h2{
    margin-top: 1.5rem;
}

.videoleft p{
    margin-top: .5rem;
}

.videoright{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
}

.videoright .infobox{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: none;
}

.fisma{
    background-color: rgb(214, 214, 214);
}

@media only screen and (max-width: 640px){
    .container_white_thesis{
        display: block;
        padding: 1rem 0 1.5rem 0;
        background-color: white;
    }

    .videoleft{
        width: 100%;
        height: auto;
        display: block;
        margin-right: 0;
    }

    .videoleft h2,
    .videoleft p{
        display: none;
    }

    .videoright{
        display: none;
    }
}

/* Footer Section */

.footer{
    padding: 1rem 1.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .85rem;
    color: rgb(214, 214, 214);
    border: solid 0px rgb(214, 214, 214);
    border-top-width: 1px;
}

@media only screen and (max-width: 640px){
    .terms{
        display: none;
    }

    .footer{
        padding: 1rem;
        display: block;
        height: auto;
    }
}